<div class="jumbotron text-center">
  <h1>Welcome to the largest online cook-book</h1>
  <h3>Browse through recipes and create your own</h3>
  <div class="col-md-6 col-md-offset-3">
  <%= link_to "Sign Up","",class: "btn btn-success btn-lg btn-block btn-block-xs" %>
  </div>
  <br>
</div>


<div class="row text-center">
  <div class="col-md-4">
    <h3>
      View recipes as Guest User
    </h3>
    <h5>Browse and view recipes as guest and Sign Up later</h5>
    <p class="text-center">
        <%= link_to "Browse Recipes", recipes_path, class: "btn btn-warning text-center btn-center" %>
    </p>
  </div>

  <div class="col-md-4">
    <h3>
      View recipes as Guest User
    </h3>
    <h5>Browse and view recipes as guest and Sign Up later</h5>
    <p>
      <%= link_to "Browse Recipes", "#", class: "btn btn-warning" %>
    </p>
  </div>

  <div class="col-md-4">
    <h3>
      View recipes as Guest User
    </h3>
    <h5>Browse and view recipes as guest and Sign Up later</h5>
    <p>
      <%= link_to "Browse Recipes", "#", class: "btn btn-warning btn-center" %>
    </p>
  </div>
</div>