//  ////////////////////////////////////////////////////////////////////////////
//  General Colors
//  ////////////////////////////////////////////////////////////////////////////
$green: rgb(70, 135, 9);
$orange: #CF6502;
$orangeOp: rgba(207, 101, 2, 0.5);
$grey: rgb(70, 75, 74);
$white: #ffffff;
$gray-light: #a0b3b0;
$gray: #ddd;

//  ////////////////////////////////////////////////////////////////////////////
//  Element Colors
//  ////////////////////////////////////////////////////////////////////////////
$form-bg: #464B4A;
$main: #CF6502;
$main-light: lighten($main, 5%);
$main-dark: darken($main, 5%);

//  ////////////////////////////////////////////////////////////////////////////
//  Typography
//  ////////////////////////////////////////////////////////////////////////////

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

//  ////////////////////////////////////////////////////////////////////////////
//  Font-families
//  ////////////////////////////////////////////////////////////////////////////

$written: "Indie Flower", cursive;
$general-font: 'Montserrat', 'Helvetica Neue', arial, sans-serif;

//  ////////////////////////////////////////////////////////////////////////////
//  Headers
//  ////////////////////////////////////////////////////////////////////////////

.section-header {
  text-align: center;
  font-size: 64px;
  padding: 30px 0;
  color: #fff;
}

.written-header{
  font-family: $written;
  font-size: 48px;
}
