// /////////////////////////////////////////////////////////////////////////////
// Clears
// /////////////////////////////////////////////////////////////////////////////
.obsolete-clear{
  clear: both;
}

.cf:after{
  content: "";
  display: table;
  clear: both;
}
