@import 'bootstrap-sprockets';
@import 'bootstrap';

#logo{
  color: #5BBC2E;
  font-size: 25px;
  &:hover{
    color: purple;
  }
}

.navbar ul li a {
  color: #666;
  &:hover{
    color: #5BBC2E;
    background-color:white;
  }
}

#footer{
  margin-top:30px;
}

.hr_style{
  border-color:darkgray; margin-top: -15px; width:95%;
}

.chef_info{
  margin-top: 10px;
}

.gravatar{
  border-radius: 10px;
}

.well{
  background-color: #EDEDED;
}

input, textarea, select, .uneditable-input{
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width:100%;
  margin-bottom: 15px;
}

input{
  height: auto !important;
}