@import 'bootstrap-sprockets';
@import 'bootstrap';

#logo{
  color: #5BBC2E;
  font-size: 25px;
  &:hover{
    color: purple;
  }
}

.navbar ul li a {
  color: #666;
  &:hover{
    color: #5BBC2E;
    background-color:white;
  }
}

#footer{
  #margin-top:30px;
}

.hr_style{
  border-color:darkgray; margin-top: -15px; width:95%;
}

.chef_info{
  margin-top: 10px;
}

.gravatar{
  border-radius: 10px;
}

.well{
  background-color: #EDEDED;
}

input, textarea, select, .uneditable-input{
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width:100%;
  margin-bottom: 15px;
}

input{
  height: auto !important;
}

span.picture{
  margin-top: 10px;
  input{
    border: 0;
  }
}

.show_recipe{
  margin:10px 10px 10px 10px;
}

.col-xs-offset-right-1 {
  margin-right: 8.33333333%;
}

#logged_in_as a{
  text-decoration: none;
  cursor: default;
}

#logged_in_as > a:hover{
  color: #666;
}

#review_name {
  padding-bottom: 5px;
  text-decoration: underline;
}

#reviews_fields{
  display: none;
}

#review_form{
  display: none;
}