@import 'reset';
@import 'general';
@import 'utility';
@import 'jquery.mmenu.all';
@import "component";
@import 'jquery.mCustomScrollbar';

* {
  box-sizing: border-box;
  font-family: $general-font;
}

//  ////////////////////////////////////////////////////////////////////////////
//  Read to fill later
//  ////////////////////////////////////////////////////////////////////////////
html {
  height: 100%;
}
body {
  min-height: 100%;
  height: auto;
}
#wrapper {
  background: url(page-background.jpg);
  min-height: 100%;
  padding-bottom: 100px;
}

.container {
  padding-bottom: 100px;
}
.home-body {
  height: 100%;
  width: 100%;
}
#main-menu {
  float: left;
  width: 15%;
  background: $green;
  height: 100%;
}
#close-button {
  margin-top: 50px;
}
.menu-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.logo {
  font-size: 2em;
  padding: 10px;
  border: 2px solid #ffffff;
}
.menu-list {
  margin-top: 5em;
  list-style: none;
  & li {
    display: block;
    margin-top: 25px;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 25px;
    &:hover {
      background: rgb(255, 255, 255);
      color: $green;
    }
  }
  & li:nth-child(1) {
    border-top: 1px solid white;
    padding-top: 25px;
  }
}
#my-button {
  height: 2em;
  font-size: 1.5em;
  background: $orange;
  padding: 0 1em;
  border: none;
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 100;
  &:hover {
    color: $orange;
    background: black;
  }
  &:focus {
    outline: none;
  }
}
.welcome {
  margin-left: 20em;
  margin-top: 10em;
}
.main-header {
  font-size: 64px;
  background: $orange;
  display: inline-block;
  padding: 15px;
}

//  ////////////////////////////////////////////////////////////////////////////
//  Modals and overlays
//  ////////////////////////////////////////////////////////////////////////////

//  ////////////////////////////////////////////////////////////////////////////
//  Modals
//  ////////////////////////////////////////////////////////////////////////////
.modal{
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  max-width: 500px;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 3em;
  background: $orangeOp;
  h1{
    margin: 0;
    font-weight: 200;
    font-size: 3em;
    line-height: 1;
    span{
      display: block;
      padding: 0.5em 0 0.6em 0.1em;
      font-size: 40%;
      line-height: 1.2;
      opacity: 0.7;
    }
  }
}

.modal-buttons {
  padding-top: 2em;
  font-size: 0.8em;
  a{
    display: inline-block;
    margin: 0.5em;
    padding: 0.7em 1.1em;
    outline: none;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 165px;
    &:hover,
    &.current-demo,
    &.current-demo:hover{
      color: #debcc3;
      border-color: #debcc3;
    }
  }
}
//  ////////////////////////////////////////////////////////////////////////////
//  Overlays
//  ////////////////////////////////////////////////////////////////////////////
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 2000;
  display: none;
  &.visible {
    display: block;
  }
  &.hidden {
    display: none;
  }
  &.full{
    background: rgb(0, 0, 0);
  }
}

//  ////////////////////////////////////////////////////////////////////////////
//  PINTEREST LAYOUT
//  ////////////////////////////////////////////////////////////////////////////
.free-wall {
  padding: 0 15px;
  margin: 0 auto;
  width: 80%;
}
.brick {
  width: 10%;
  border: 1px solid #ccc;
  background: #fff;
  img{
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
  }
}
.info {
  padding: 15px;
  color: #333;
}

//  ////////////////////////////////////////////////////////////////////////////
//  Form styles
//  ////////////////////////////////////////////////////////////////////////////
#login-form {
  .button.button-block {
    padding: 15px 60px;
  }
}
.form {
  font-family: 'Titillium Web', sans-serif;
  background: rgba($form-bg,.9);
  padding: 40px;
  max-width: 600px;
  border-radius: $br;
  box-shadow: 0 4px 10px 4px rgba($form-bg,.3);
  display: none;
  z-index: 3000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    text-align: center;
    color: $white;
    font-weight: $thin;
    margin: 0 0 40px;
    font-size: 2.5em;
  }
  &.visible {
    display: block;
  }

  label{
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba($white,.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
    .req {
      margin: 2px;
      color: $main;
    }
  }

  label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
    .req {
      opacity: 0;
    }
  }

  label.highlight {
    color: $white;
  }

  input,
  textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid $gray-light;
    color: $white;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
    &:focus {
      outline: 0;
      border-color: $main;
    }
  }
  textarea {
    border: 2px solid $gray-light;
    resize: vertical;
  }
  .field-wrap {
    position: relative;
    margin-bottom: 40px;
  }
  .top-row {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    > div {
      float: left;
      width: 48%;
      margin-right: 4%;
      &:last-child {
        margin: 0;
      }
    }
  }
  .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: $main;
    color: $white;
    transition: all.5s ease;
    -webkit-appearance: none;
    &:hover,
    &:focus {
      background: $main-dark;
    }
  }
  .button-block {
    display: block;
    width: 100%;
  }
  .forgot {
    margin-top: -20px;
    text-align: right;
  }
}

//  ////////////////////////////////////////////////////////////////////////////
//  Progress bar (Preloading)
//  ////////////////////////////////////////////////////////////////////////////
.progress {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -50px;
  height: 100px;
  width: 0;
  background: $orange;
  z-index: 9999;
  text-align: center;
  font-size: 48px;
  line-height: 100px;
}


//  ////////////////////////////////////////////////////////////////////////////
//  Paper layout
//  ////////////////////////////////////////////////////////////////////////////
.paper-content {
  position: relative;
  width: 80%;
  margin: 32px auto 0 auto;
  background: #dddccf;
  padding-bottom: 30px;
  &:after {
    background: linear-gradient(-45deg, #313131 16px, transparent 0),linear-gradient(45deg, #313131 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
  }
  &:before{
    background: linear-gradient(-45deg, #DDDCCF 16px, transparent 0),linear-gradient(45deg, #DDDCCF 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    top: -32px;
    left: 0;
    width: 100%;
    height: 32px;
  }
}

#new-recipe-form{
  float: left;
  width: 50%;
  padding: 30px;
}

.recipe-form{
    margin: 50px auto;
    .written-header{
      text-align: center;
      padding-bottom: 30px;
      &.second-header{
        padding-top: 30px;
        padding-bottom: 10px;
      }
    }
    .label{
      font-family: $written;
      display: block;
      font-size: 24px;
      margin: 10px 0;
    }
    input{
      background: none;
      border: none;
      border-bottom: 2px dotted black;
      width: 100%;
      font-family: $written;
      font-size: 18px;
      &:focus{
        outline: none;
      }
    }
    textarea{
      background: none;
      border: 2px dotted black;
      min-height: 100px;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      padding: 10px;
      font-family: $written;
      line-height: 1.5em;
      font-size: 18px;
      &.full{
        min-height: 200px;
      }
      &:focus{
        outline: none;
      }
    }
    .recipe-button{
      background: $orange;
      width: 100%;
      padding: 1em;
      font-size: 18px;
      border: #000;
      margin-top: 25px;
      cursor: pointer;
    }
  }

#new-recipe-images{
  float: right;
  padding: 30px;
  text-align: center;
  width: 50%;
}

#recipe-summary{
  max-height: 100px;
}

#recipe-description{
  max-height: 200px;
}

#select2-box{
  width: 80%;
}

#select2-box-cuisine{
  width: 80%;
}

.select2.select2-container.select2-container--default{
  margin-top: 30px;
  border: 2px dotted black !important;
  outline: 0;
  border-radius: 5%;
}

.select2-container--default .select2-selection--multiple{
  background-color: #DDDCCF !important;
}

//  ////////////////////////////////////////////////////////////////////////////
//  Chefs
//  ////////////////////////////////////////////////////////////////////////////
.grid-holder{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.grid-item{
  float: left;
  position: relative;
  text-align: center;
  width: 40%;
  margin: 5%;
  padding-bottom: 30px;
  background-image: url(bg-grid-top.jpg),
                    url(bg-grid.jpg);
  background-repeat: no-repeat, repeat-y;
  background-size: 100%;
  color: #313131;
  .pin{
    position: absolute;
    height: 50px;
    width: 50px;
    background: url(pin.png);
    top: 0px;
    left: 50%;
    margin-left: -10px;
    z-index: 1000;
    background-size: 50px;
    transform: rotate(180deg);
  }

}

.bg-grid-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: url(bg-grid-bottom.jpg) -1px bottom no-repeat;
  background-size: 100%;
}

.grid-image-holder{
  background: none;
  margin: 22px;
  padding: 0;
  width: 200px;
  display: block;
  overflow: hidden;
  transform: rotate(4deg);
}
.grid-image{
  display: block;
  margin: 0 auto;
  text-align: center;
  background: #eff1e6;
  border: 1px solid #878882;
}
.grid-image img{
  background-color: transparent;
  border: 0 solid #eff1e6;
  display: block;
  margin: 0 auto;
  padding: 5px;
  position: relative;
}
.grid-item span{
  padding: 5px;
  display: block;
  font-size: 13px;
  color: #313131;
}

.grid-item h2{
  margin: 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #313131;
}

.grid-list{
  width: 80%;
  margin: 0 auto;
  list-style: none;
}

.grid-list li{
  padding: 2px 5px;
  text-align: left;
}

.grid-list li:first-of-type{
  padding-top: 10px;
}

.grid-list li a{
  text-decoration: none;
  color: #313131;
}

@media screen and(max-width: 600px) {
  #new-recipe-form{
    float: none;
    width: 100%;
  }

  #new-recipe-images{
    float: none;
    width: 100%;
  }

  .polaroid{
    width: 100%;
  }
}

//  ////////////////////////////////////////////////////////////////////////////
//  Single recipe/chef pages
//  ////////////////////////////////////////////////////////////////////////////
.single-page-content{
  width: 80%;
  margin: 0 auto;
}

.single-header{
<<<<<<< HEAD
  color: #000;
  & > div{
    width: 50%;
=======
  color: #ffffff;
  & > div{
    width: 50%;
    height: 400px;
>>>>>>> b22d7cd44c943a7c1c5965502419d613d8f8ea57
  }
  .single-image{
    float: left;
    img{
      width: 100%;
      height: auto;
      max-height: 400px;
    }
  }
  .single-info{
    float:right;
    // color: #ffffff;
    padding: 0 30px 0 30px;
    line-height: 1.5em;
    font-size: 18px;
    h2{
      font-size: 36px;
      padding: 20px 0;
      text-align: center;
    }
    .actions{
      width: 100%;
      clear: both;
    }
    li{
      padding: 10px 0;
      width: 33%;
      float: left;
      text-align: center;
    }
    a{
      color: #000;
      text-decoration: none;
      font-size: 22px;
    }
    .action-button{
      font-size: 14px;
      padding: 10px;
      font-weight: bold;
      border: 2px solid #000;
      transition: all .75s ease;
      &:hover{
        color: #fff;
        background: #CF6502;
      }
    }
  }
}

.profile-image{
  width: 50%;
  height: 400px;
}

.single-desc{
<<<<<<< HEAD
  color: #000;
  line-height: 1.5em;
  font-size: 22px;
  margin-top: 50px;
  padding: 0 50px;
}

.polaroid{
  position: relative;
  text-align: center;
  width: 320px;
  padding-top: 10px;
  img{
    border: 10px solid #fff;
    border-top: 20px solid #fff;
    border-bottom: 45px solid #fff;
    max-height: 400px;
    width: 80%;
    -webkit-box-shadow: 3px 3px 3px #777;
       -moz-box-shadow: 3px 3px 3px #777;
            box-shadow: 3px 3px 3px #777;
  }
  p{
    position: absolute;
    width: 100%;
    bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    color: #888;
  }
  .pin{
    background: url(pin.png);
    position: absolute;
    top: -5px;
    left: 50%;
    width: 40px;
    height: 40px;
    z-index: 2000;
    background-size: 43px;
=======
  color: white;
  line-height: 1.5em;
  font-size: 22px;
}

.button{
  padding: 10px;
  border: 3px solid white;
  text-decoration: none;
  font-size: 24px;
  transition: all .5s ease;
  color: #ffffff;
  &:hover{
    background: #ffffff;
>>>>>>> b22d7cd44c943a7c1c5965502419d613d8f8ea57
  }
}
