<div class="modal-footer" id="footer">


<span class="center"><%= link_to image_tag('githublogo.png', width: 40, height: 40), 'https://github.com/antrix1',
                                 target: '_blank', id: 'githublogo' %></span>
    <span class="pull-left">&copy; CookBook 2015</span>



</div>