<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a>
        <%= link_to "Cook Book", root_url, class: "navbar-brand active", id: "logo" %>
      </a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Recipes", recipes_path %></li>
        <li><%= link_to "New Recipe", new_recipe_path %></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>

</nav>
<hr class="hr_style"/>